<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Cyric · Stats" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul class="flex flex-row">
            <li class="px-2"><a href="/rules">Rules</a></li>
            <li class="px-2"><a href="/stats">Stats</a></li>
            <li class="px-2"><a href="/proxies">Proxies</a></li>
          </ul>
        </nav>
        <!-- <a href="https://phoenixframework.org/" class="phx-logo"> -->
        <!--   <img src="<%= Routes.static_path(@conn, "/images/Cyric.webp") %>" alt="Cyric Logo" style="width: 60px" /> -->
        <!-- </a> -->
        <b>Cyric</b>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
